@using Doan.Models;
@using Doan.Utilities;
@model IList<Menu>


<div class="super_container">

    <!-- Header -->

    <header class="header trans_300">

        <!-- Top Navigation -->

      
 
        <!-- Main Navigation -->
       
        <div class="main_nav_container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="logo_container">
                            <a href="#" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">RyPON<span></span></a>
                        </div>
                        <nav class="navbar">
                            @foreach (var item in Model.Where(m => m.Levels == 1).OrderBy(n => n.MenuOrder))
                            {
                                var Pid = item.MenuID;
                                var Smenu = Model.Where(p => p.ParentID == Pid).OrderBy(p => p.MenuOrder).ToList();
                                @if (Smenu.Count == 0)
                                {
                                    <ul class="navbar_menu">
                                        <li><a class="" href="~/@item.Link">@item.MenuName</a></li>
                                    </ul>
                                }
                                else
                                {

                                    <ul class="navbar_menu">
                                        <a href="#"><span>@item.MenuName</span><i class="bi bi-chevron-down"></i></a>
                                        @foreach (var smn in Smenu)
                                        {
                                            <ul>
                                                <li><a href="/@smn.Link">@smn.MenuName</a></li>
                                            </ul>
                                        }
                                    </ul>

                                }

                            }
                            @if (!Functions.IsLogin())
                            {

                                <ul class="navbar_user" style="height:63px;display: flex;margin-left:0px;justify-content: center;align-items: center;width: 50px;">
                                    <a href="login" ><i class="fa fa-user" style="color: black;" aria-hidden="true"></i>	</a>

                                </ul>

                            }
                            else
                            {
                                <ul class="navbar_user">
                                    <li><a href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                                </ul>
                                <!-- Dropdown Menu -->
                                <div class="dropdown" style="cursor:pointer">
                                    <button style="border:none; background-color:transparent;cursor:pointer" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Functions._UserName
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size:small">
                                        <a class="dropdown-item" href="#">Trang cá nhân</a>
                                        <a class="dropdown-item" href="/history">Lịch sử đơn hàng</a>
                                        <a class="dropdown-item" href="/logout">Đăng xuất</a>
                                    </div>
                                </div>
                                @*
                            <li class="menu_item" id="menu_item">
                                    <a href="#" id="menu_click" style="width:200px">
                                        @Functions._UserName
                                        <i class="fa fa-angle-down"></i>
                                    </a>

                                    <ul class="menu_selection" id="menu_selection" style="background-color: white;display: flex;flex-direction: column;align-items: flex-start:0px">

                                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Trang cá nhân</a></li>
                                        <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Lịch sử đơn hàng</a></li>
                                        <li><a href="/logout"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng xuất</a></li>

                                    </ul>
                                </li>

                                <li class="navbar_user">
                                    <a href="#" id="menu_click" style="max-width:200px ; color:black">
                                        @Functions._UserName
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="menu_selection" id="menu_selection" style="background-color: white;display: flex;flex-direction: column;align-items: flex-start:0px">
                                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Trang cá nhân</a></li>
                                        <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Lịch sử đơn hàng</a></li>
                                        <li><a href="/logout"><i class="fa fa-user-plus" aria-hidden="true"></i>Đăng xuất</a></li>
                                    </ul>
                                </li> *@
                            }
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/styles/bootstrap4/popper.js"></script>
<script src="~/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/plugins/easing/easing.js"></script>
<script src="~/js/custom.js"></script>

