@using Doan.Models;
@using Doan.Utilities;

<div class="container mt-5" style="padding-top:150px">
    <h2 class="mb-4" style="font-family: 'Times New Roman', serif;">Lịch Sử Thanh Toán</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Ngày Thanh Toán</th>
                    <th>Số Tiền</th>
                    <th>Phương Thức Thanh Toán</th>
                    <th>Trạng Thái</th>
                    <th>Tên người nhận</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Sản phẩm</th>
                </tr>
            </thead>
            <tbody>
                <!-- Ví dụ dữ liệu -->
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Order.Created_at</td>
                        <td>@item.Order.Price</td>
                        <td>@item.Pay_method.Name</td>
                        <td>@item.Order.Oder_status</td>
                        <td>@item.Order.Name</td>
                        <td>@item.Order.Phone</td>
                        <td>@item.Order.Address</td>
                        <td><textarea readonly>@(item.Products.Name + "\n" +  item.Product_size.Name)</textarea></td>
                    </tr>
                }
                <!-- Kết thúc ví dụ dữ liệu -->
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>