@using Doan.Models;
@model IList<Footer>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách menu</h2>
    </div>

    <p>
        <a a type="button" class="btn btn-success" asp-area="Admin" asp-controller="footer" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1"></i>Thêm menu footer
        </a>
    </p>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <table class="table table-borderless datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tiêu đề</th>
                                    <th>Nội dung</th>
                                    <th>Chức năng</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.Id</th> 
                                        <td>@item.Title</td>
                                        <td>@item.Contents</td>
                                       
                                        <td class=" action-buttons">
                                            <a asp-area="admin" asp-controller="footer" asp-action="edit" asp-route-id="@item.Id" class="btn btn-primary" title="Sửa menu"><i class="bi bi-pencil"></i></a>
                                            <a asp-area="admin" asp-controller="footer" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger" title="Xoá menu"><i class="bi bi-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

